@using System.Globalization
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Views
@model Escc.EastSussexGovUK.Core.BaseViewModel
@inject Escc.EastSussexGovUK.Core.IClientDependencySetEvaluator dependencySetEvaluator;
@inject ITextSize textSize;
@{
    Layout = null;
    if (Model == null)
    {
        throw new NotSupportedException("This view requires a model based on Escc.EastSussexGovUK.Core.BaseViewModel");
    }
    Model.EsccWebsiteView = EsccWebsiteView.Desktop;
    dependencySetEvaluator.EvaluateDependencySet(Model.EsccWebsiteSkin);

    if (Model.WebChat != null)
    {
        dependencySetEvaluator.EvaluateDependencySet(new WebChat() { WebChatSettings = Model.WebChat });
    }
}
@Html.Raw(Model.TemplateHtml?.HtmlTag)
<head>
    @RenderSection("ContentExperiment", required: false)@Html.Raw(Model.TemplateHtml?.Metadata)
    @{
        await Html.RenderPartialAsync("~/_Metadata_Head.cshtml", Model.Metadata);
        await Html.RenderPartialAsync("~/_EastSussexGovUK_Fonts.cshtml", Model.EsccWebsiteSkin);
        await Html.RenderPartialAsync("~/_EastSussexGovUK_Css.cshtml", Model);
    }
    @RenderSection("Metadata", required: false)
</head>
@{
    var bodyClass = Model.BodyCssClass;
    var textSizeValue = textSize?.CurrentTextSize();
    if (textSizeValue.HasValue && textSizeValue > 1)
    {
        bodyClass += " size" + textSizeValue.Value.ToString(CultureInfo.InvariantCulture);
    }

    if (!String.IsNullOrEmpty(bodyClass))
    {
@:<body class="@bodyClass.Trim()">
    }
    else
    {
@:<body>
    }
@Html.Raw(Model.TemplateHtml?.AboveHeader)
}
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header")
}
else
{
    @Html.Raw(Model.TemplateHtml?.Header);
}
<div id="main" role="main" class="body">
    <div class="container">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        else
        {
            await Html.RenderPartialAsync("~/_EastSussexGovUK_BreadcrumbTrail.cshtml", Model.BreadcrumbProvider);
            await Html.RenderPartialAsync("~/_EastSussexGovUK_BreadcrumbTrailMobile.cshtml", Model.BreadcrumbProvider);
        }
        @RenderBody()
    </div>
</div>
@if (IsSectionDefined("Footer"))
{
    @RenderSection("Footer")
}
else
{
    @Html.Raw(Model.TemplateHtml?.Footer)
}
@Html.Raw(Model.TemplateHtml?.Scripts)
@{ await Html.RenderPartialAsync("~/_EastSussexGovUK_Js.cshtml", Model); }
@RenderSection("JavaScript", required: false)
@{ await Html.RenderPartialAsync("~/_Metadata_Body.cshtml", Model.Metadata); }
@Html.Raw("</body></html>")
