@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Views
@model Escc.EastSussexGovUK.Core.BaseViewModel
@inject Escc.EastSussexGovUK.Core.IClientDependencySetEvaluator dependencySetEvaluator;
@{
    if (Model == null) { throw new NotSupportedException("This view requires a model based on Escc.EastSussexGovUK.Core.BaseViewModel"); }
    Model.EsccWebsiteView = EsccWebsiteView.FullScreen;
    dependencySetEvaluator.EvaluateDependencySet(Model.EsccWebsiteSkin);

    if (Model.WebChat != null)
    {
        dependencySetEvaluator.EvaluateDependencySet(new WebChat() { WebChatSettings = Model.WebChat });
    }
}
@Html.Raw(Model.TemplateHtml?.HtmlTag)
<head>@RenderSection("ContentExperiment", required: false)@Html.Raw(Model.TemplateHtml?.Metadata)
    @{
        await Html.RenderPartialAsync("~/_Metadata_Head.cshtml", Model.Metadata);
        await Html.RenderPartialAsync("~/_EastSussexGovUK_Fonts.cshtml", Model.EsccWebsiteSkin);
        await Html.RenderPartialAsync("~/_EastSussexGovUK_Css.cshtml", Model);
    }
    @RenderSection("Metadata", required: false)
</head>
@if (!string.IsNullOrEmpty(Model.BodyCssClass))
{
@:<body class="@Model.BodyCssClass">
}
else
{
@:<body>
}
<div class="full-screen">
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
        @:
        <header>
            <div class="header context">
                @Html.Raw(Model.TemplateHtml?.Header)
                <div class="full-screen-bar">
                    <h1>@RenderSection("FullScreenHeading", required: false)</h1>
                    @RenderSection("FullScreenLinks", required: false)
                </div>
            </div>
        </header>
    }
    <div id="main" role="main" class="body">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer");
    }
    @Html.Raw(Model.TemplateHtml?.Scripts)
    @{ await Html.RenderPartialAsync("~/_EastSussexGovUK_Js.cshtml", Model); }
    @RenderSection("JavaScript", required: false)
</div>
@{ await Html.RenderPartialAsync("~/_Metadata_Body.cshtml", Model.Metadata); }
@Html.Raw("</body></html>")

@{ // Do not render these sections for this layout
    if (IsSectionDefined("Breadcrumb")) { IgnoreSection("Breadcrumb"); }
}
