@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Views
@using Escc.Html
@model Escc.EastSussexGovUK.Mvc.BaseViewModel
@{
    if (Model != null && Model.SocialMedia != null && Model.SocialMedia.FacebookPageUrl != null)
    {
        var showWidget = Model.EsccWebsiteView == EsccWebsiteView.Desktop;
        var displayUrl = new HtmlLinkFormatter().AbbreviateUrl(Model.SocialMedia.FacebookPageUrl);

        if (Model.EsccWebsiteView == EsccWebsiteView.Desktop)
        {
            // Should show at small and medium sizes, and at large if there's no widget
            var facebookClass = showWidget ? "text-content content-small content-medium small medium" : Model.EsccWebsiteSkin.SupportingTextContentClass;

            <div class="@facebookClass">
                <p class="facebook">Find us on Facebook: <a href="@Model.SocialMedia.FacebookPageUrl">@displayUrl</a></p>
            </div>
        }

        if (showWidget)
        {
            @Html.Partial("~/Views/EastSussexGovUK/_FeatureDependency.cshtml", new FacebookLikeBox() { SocialMedia = Model.SocialMedia, EsccWebsiteView = Model.EsccWebsiteView })
            <div class="large">
                <div class="fb-page" data-href="@Model.SocialMedia.FacebookPageUrl" data-tabs="@(Model.SocialMedia.FacebookShowFeed ? "timeline" : String.Empty)" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="@(Model.SocialMedia.FacebookShowFaces ? true : false)"><blockquote cite="@Model.SocialMedia.FacebookPageUrl" class="fb-xfbml-parse-ignore"><a href="@Model.SocialMedia.FacebookPageUrl">Find us on Facebook</a></blockquote></div>
            </div>
        }
    }
}