@using System.Globalization
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Mvc.Views.EastSussexGovUK
@using Escc.EastSussexGovUK.Views
@using Escc.EastSussexGovUK.Skins
@using Escc.Net
@using Escc.Web
@model Escc.EastSussexGovUK.Mvc.BaseViewModel
@{
    Layout = null;
    if (Model == null)
    {
        throw new NotSupportedException("This view requires a model based on Escc.EastSussexGovUK.Mvc.BaseViewModel");
    }
    Model.EsccWebsiteView = EsccWebsiteView.Desktop;
    Html.RenderPartial("~/Views/EastSussexGovUK/_FeatureDependency.cshtml", Model.EsccWebsiteSkin);

    // In rare circumstances Azure can return a value for Request.Url.Authority which is not correct. Since 
    // Request.Url.Authority is used to load client-side assets, ensure it is always allowed by the content security policy.
    new ContentSecurityPolicyHeaders(Response.Headers)
        .AppendPolicy($"script-src {Request.Url.GetLeftPart(UriPartial.Authority)}; style-src {Request.Url.GetLeftPart(UriPartial.Authority)}; img-src {Request.Url.GetLeftPart(UriPartial.Authority)}")
        .UpdateHeaders();
}
@if (IsSectionDefined("WebChat"))
{
    @RenderSection("WebChat")
}
else
{
    // Support web chat - not ideal to do this in the view but there's no common controller
    var context = new HostingEnvironmentContext();
    if (context.WebChatSettingsUrl != null)
    {
        var webChat = new WebChat();
        webChat.WebChatSettings = new WebChatSettingsFromApi(context.WebChatSettingsUrl, new ConfigurationProxyProvider(), new ApplicationCacheStrategy<WebChatSettings>(TimeSpan.FromMinutes(context.WebChatSettingsCacheDuration))).ReadWebChatSettings();
        webChat.WebChatSettings.PageUrl = new Uri(Request.Url.AbsolutePath, UriKind.Relative);
        Html.RenderPartial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new[] { webChat });
    }
}
@{ Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "HtmlTag", BreadcrumbProvider = Model.BreadcrumbProvider}); }
<head>
    @RenderSection("ContentExperiment", required: false)
    @{
        Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "MetadataDesktop", BreadcrumbProvider = Model.BreadcrumbProvider});
        Html.RenderPartial("~/Views/EastSussexGovUK/MetadataControl.ascx", Model.Metadata);
        Html.RenderPartial("~/Views/EastSussexGovUK/_Fonts.cshtml", Model.EsccWebsiteSkin);
    }
    @Html.RenderCssHere()
    @RenderSection("Metadata", required: false)
</head>
@{
    var bodyClass = String.Empty;
    if (IsSectionDefined("BodyClass"))
    {
        using (var writer = new StringWriter())
        {
            RenderSection("BodyClass", required: false).WriteTo(writer);
            bodyClass = writer.ToString();
        }
    }
    
    var textSize = new TextSize(Request.Cookies, Request.QueryString);
    if (textSize.CurrentTextSize() > 1)
    {
        bodyClass += " size" + textSize.CurrentTextSize().ToString(CultureInfo.InvariantCulture);
    }

    if (!String.IsNullOrEmpty(bodyClass))
    {
        @:<body class="@bodyClass.Trim()">
    }
    else
    {
        @:<body>
    }
    Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "AboveHeaderDesktop", BreadcrumbProvider = Model.BreadcrumbProvider});
}
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header")
}
else
{
    Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "HeaderDesktop", BreadcrumbProvider = Model.BreadcrumbProvider});
}
<div id="main" role="main" class="body">
    <div class="container">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        else
        {
            Html.RenderPartial("~/Views/EastSussexGovUK/BreadcrumbTrail.ascx", Model.BreadcrumbProvider);
            Html.RenderPartial("~/Views/EastSussexGovUK/BreadcrumbTrailMobile.ascx", Model.BreadcrumbProvider);
        }
        @RenderBody()
    </div>
</div>
@if (IsSectionDefined("Footer"))
{
    @RenderSection("Footer")
}
else
{
    Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "FooterDesktop", BreadcrumbProvider = Model.BreadcrumbProvider});
}
@{ Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData {Control = "ScriptsDesktop", BreadcrumbProvider = Model.BreadcrumbProvider}); }
@Html.RenderJsHere()
@RenderSection("JavaScript", required: false)
</body>
</html>
